name: build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  job-test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Check out source code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: go.mod

      - name: Run lint
        uses: reviewdog/action-golangci-lint@f9bba13753278f6a73b27a56a3ffb1bfda90ed71 # v2.8.0
        with:
          fail_level: warning
          golangci_lint_flags: --timeout=5m

      - name: Run tests
        run: make ci

      - name: Run octocov
        uses: k1LoW/octocov-action@73d561f65d59e66899ed5c87e4621a913b5d5c20 # v1.5.0

  job-integration:
    name: Integration test
    strategy:
      matrix:
        db: [mysql, postgres, sqlite]
    runs-on: ubuntu-latest
    steps:
      - name: Check out source code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Start databases
        run: |
          docker compose up -d
          sleep 10s

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: go.mod

      - name: Set up usql
        uses: k1LoW/gh-setup@c6d6cf424a66c17b23090954276c69f1d9f7f6a3 # v1.11.5
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          repo: xo/usql

      - name: Run integration test
        run: make integration_${{ matrix.db }}
